@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "Cinzel";
  src: url(./assets/cinzel.ttf);
}

@font-face {
  font-family: "Tan Aegean";
  src: url(./assets/tan-aegean.ttf);
}

h1 {
  font-family: "Cinzel";
  font-size: 3rem;
}

h2 {
  font-family: "Cinzel";
  font-size: 2.5rem;
  color: black;
}

p {
  font-family: "Tan Aegean";
  font-size: 1rem;
}